# --- Python Environment and Runtime Files ---

# Ignore virtual environment folders
venv/
env/

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore Jupyter/Colab/IDE checkpoints and temporary files
.ipynb_checkpoints/
.DS_Store # macOS system file